<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" 
	  xlmns:sec="http://www.thymeleaf.org-extras-springsecurity4">
	<head>
		<title>Feed</title>
		<th:block th:replace="/fragments/headerfiles.html"></th:block>
	</head>
	<body>
		<div class="container">
			<div th:replace="/fragments/navbar"></div>
			<h2>Tweets</h2>
			<div th:if=${tweetList.isEmpty()}><h3>No tweets are available</h3></div>
			<div class="list-group">
				<div th:each="tweet:${tweetList}" class="list-group-item">
					<h5>@<span th:text="${tweet.user.username}"></span>
					<small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small></h5>
					<p th:utext="${tweet.message}"></p>
				</div>
			</div>
		</div>
	</body>
</html>