<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org-extras-springsecurity4">
	<head>
		<title>New Tweet</title>
		<th:block th:replace="/fragments/headerfiles.html"></th:block>
	</head>
	<body>
		<div class="container">
			<div th:replace="/fragments/navbar"></div>
			<div class="jumbotron col-md-8 colld-md-offset-2">
				<h2>New Tweet</h2>
				<form th:action="@{/tweets}" th:object="${tweet}" method="post" autocomplete="off">
					<div class="form-group">
						<textarea rows="5" th:field="*{message}" placeholder="Whats happening?" class="form-control"></textarea>
					</div>
					<label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="validation-message"></label>
					<div class="form-group">
						<button class="btn btn-md btn-success btn-block"
								name="Submit" value="Submit" type="Submit">
						Tweet it!
						</button>
					</div>
				</form>
				<div th:if="${successMessage}">
					<h3><span class="text-success" th:text="${successMessage}"></span></h3>
				</div>
			</div>
		</div>
	</body>
</html>