<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org-extras-springsecurity4">
	<head>
		<title>Sign Up</title>
		<th:block th:replace="/fragments/headerfiles.html"></th:block>
	</head>
	<body>
		<div th:unless="${success}" class="container">
			<div th:replace="/fragments/navbar"></div>
			<h2>Sign up</h2>
			<!-- th:object is saying that this info from the form needs to be routed to the user -->
			<form th:action="@{/signup}" th:object="${user}" method="post" autocomplete="off">
				<div class="form-group">
					<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
					<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
					<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
					<input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
					<input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
					<input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
				</div>
				<div class="form-group">
					<button class="btn btn-md btn-success btn-block" name="Submit" 
					value="Submit" type="Submit" th:text="Submit"></button>
				</div>
			</form>
		</div>
		<div th:if="${success}">
				<h3><span class="text-success" th:text="${success}"></span></h3>
				<form th:action="@{/login}" method="get">
					<button class="btn btn-m btn-success btn-block" name="Submit" value="Login" type="Submit">Log in!</button>
				</form>
		</div>
	</body>
</html>